SMS/WSDL/FBLNotification_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://new.webservice.namespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://www.fidelitybank.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://new.webservice.namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="Notifications_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="Notification" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://new.webservice.namespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
      <xsd:include schemaLocation="FBLNotification.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendSms_in">
    <wsdl:part element="tns:SendSms_Req" name="SendSms_Req"/>
  </wsdl:message>
  <wsdl:message name="SendSms_out">
    <wsdl:part element="tns:SendSms_Resp" name="SendSms_Resp"/>
  </wsdl:message>
  <wsdl:message name="SendEmail_in">
    <wsdl:part element="tns:SendEmail_Req" name="SendEmail_Req"/>
  </wsdl:message>
  <wsdl:message name="SendEmail_out">
    <wsdl:part element="tns:SendEmail_Resp" name="SendEmail_Resp"/>
  </wsdl:message>
  <wsdl:portType name="NotificationPortType">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSms_in" name="SendSms_input"/>
      <wsdl:output message="tns:SendSms_out" name="SendSms_output"/>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmail_in" name="SendEmail_input"/>
      <wsdl:output message="tns:SendEmail_out" name="SendEmail_output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Notification" type="tns:NotificationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="SendSms"/>
      <wsdl:input name="SendSms_input">
        <soap:body parts="SendSms_Req" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendSms_output">
        <soap:body parts="SendSms_Resp" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="SendEmail"/>
      <wsdl:input name="SendEmail_input">
        <soap:body parts="SendEmail_Req" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendEmail_output">
        <soap:body parts="SendEmail_Resp" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port binding="tns:Notification" name="Notification">
      <soap:address location="https://10.179.100.243:7061/FBLNotification"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>