Service References/DreamovalSMSService/v1_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.fidelitybank.com/dreamoval/sendsms/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.fidelitybank.com/dreamoval/sendsms/" version="1.0">
  <xsd:element ibmSchExtn:docRoot="true" name="addContact" type="tns:addContact" />
  <xsd:element ibmSchExtn:docRoot="true" name="addContactResponse" type="tns:addContactResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="addContactsToGroups" type="tns:addContactsToGroups" />
  <xsd:element ibmSchExtn:docRoot="true" name="addContactsToGroupsResponse" type="tns:addContactsToGroupsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="addGroup" type="tns:addGroup" />
  <xsd:element ibmSchExtn:docRoot="true" name="addGroupResponse" type="tns:addGroupResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="checkBalance" type="tns:checkBalance" />
  <xsd:element ibmSchExtn:docRoot="true" name="checkBalanceResponse" type="tns:checkBalanceResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="countContacts" type="tns:countContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="countContactsResponse" type="tns:countContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="countGroupContacts" type="tns:countGroupContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="countGroupContactsResponse" type="tns:countGroupContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="countGroups" type="tns:countGroups" />
  <xsd:element ibmSchExtn:docRoot="true" name="countGroupsResponse" type="tns:countGroupsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="countMessages" type="tns:countMessages" />
  <xsd:element ibmSchExtn:docRoot="true" name="countMessagesResponse" type="tns:countMessagesResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="editContact" type="tns:editContact" />
  <xsd:element ibmSchExtn:docRoot="true" name="editContactResponse" type="tns:editContactResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="editGroup" type="tns:editGroup" />
  <xsd:element ibmSchExtn:docRoot="true" name="editGroupResponse" type="tns:editGroupResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getContacts" type="tns:getContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="getContactsResponse" type="tns:getContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getGroupContacts" type="tns:getGroupContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="getGroupContactsResponse" type="tns:getGroupContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getGroups" type="tns:getGroups" />
  <xsd:element ibmSchExtn:docRoot="true" name="getGroupsResponse" type="tns:getGroupsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessageStatusesByBatch" type="tns:getMessageStatusesByBatch" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessageStatusesByBatchResponse" type="tns:getMessageStatusesByBatchResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessageStatusesByReference" type="tns:getMessageStatusesByReference" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessageStatusesByReferenceResponse" type="tns:getMessageStatusesByReferenceResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessages" type="tns:getMessages" />
  <xsd:element ibmSchExtn:docRoot="true" name="getMessagesResponse" type="tns:getMessagesResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="getSenderNames" type="tns:getSenderNames" />
  <xsd:element ibmSchExtn:docRoot="true" name="getSenderNamesResponse" type="tns:getSenderNamesResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeContacts" type="tns:removeContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeContactsFromGroup" type="tns:removeContactsFromGroup" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeContactsFromGroupResponse" type="tns:removeContactsFromGroupResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeContactsResponse" type="tns:removeContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeGroups" type="tns:removeGroups" />
  <xsd:element ibmSchExtn:docRoot="true" name="removeGroupsResponse" type="tns:removeGroupsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="resendVerificationMail" type="tns:resendVerificationMail" />
  <xsd:element ibmSchExtn:docRoot="true" name="resendVerificationMailResponse" type="tns:resendVerificationMailResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="resetPassword" type="tns:resetPassword" />
  <xsd:element ibmSchExtn:docRoot="true" name="resetPasswordResponse" type="tns:resetPasswordResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessage" type="tns:sendMessage" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageContacts" type="tns:sendMessageContacts" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageContactsResponse" type="tns:sendMessageContactsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageGroups" type="tns:sendMessageGroups" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageGroupsResponse" type="tns:sendMessageGroupsResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageResponse" type="tns:sendMessageResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageVerbose" type="tns:sendMessageVerbose" />
  <xsd:element ibmSchExtn:docRoot="true" name="sendMessageVerboseResponse" type="tns:sendMessageVerboseResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="signup" type="tns:signup" />
  <xsd:element ibmSchExtn:docRoot="true" name="signupResponse" type="tns:signupResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="viewContact" type="tns:viewContact" />
  <xsd:element ibmSchExtn:docRoot="true" name="viewContactResponse" type="tns:viewContactResponse" />
  <xsd:element ibmSchExtn:docRoot="true" name="viewGroup" type="tns:viewGroup" />
  <xsd:element ibmSchExtn:docRoot="true" name="viewGroupResponse" type="tns:viewGroupResponse" />
  <xsd:complexType name="getGroupContacts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="groupId" type="xsd:string" />
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getGroupContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:contactInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="gender" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="groups" nillable="true" type="tns:groupSummary" />
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobile" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupSummary">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element name="size" type="xsd:int" />
      <xsd:element minOccurs="0" name="text" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getContacts">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:contactInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobile" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addContactResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:contactInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countMessages">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countMessagesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeContactsFromGroup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactId" type="xsd:string" />
      <xsd:element minOccurs="0" name="groupId" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeContactsFromGroupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getGroups">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getGroupsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:groupInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contacts" nillable="true" type="tns:contactInfo" />
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element name="size" type="xsd:long" />
      <xsd:element minOccurs="0" name="text" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editGroup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="groupId" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editGroupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:groupInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessageStatusesByBatch">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="batchId" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessageStatusesByBatchResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:messageResponseInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="messageResponseInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobile" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="xsd:string" />
      <xsd:element minOccurs="0" name="timeDelivered" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="timeSent" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageContacts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="contactIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countContacts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="viewContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactId" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="viewContactResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:contactInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addContactsToGroups">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="groupIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addContactsToGroupsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countGroupContacts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="groupId" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countGroupContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countGroups">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countGroupsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeContacts">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactsIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeContactsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="signup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fullname" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="signupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageVerbose">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="groupIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="contactIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobileNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="reference" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageVerboseResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageGroups">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="groupIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageGroupsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="viewGroup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="groupId" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="viewGroupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:groupInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resetPassword">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="oldPassword" type="xsd:string" />
      <xsd:element minOccurs="0" name="newPassword" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resetPasswordResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeGroups">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="groupIds" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeGroupsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addGroup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addGroupResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:groupInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resendVerificationMail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resendVerificationMailResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessages">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessagesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:messageInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="messageInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="batchId" type="xsd:string" />
      <xsd:element minOccurs="0" name="content" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="recipients" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="reference" type="xsd:string" />
      <xsd:element minOccurs="0" name="status" type="xsd:string" />
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element minOccurs="0" name="timeSent" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="subject" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobileNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="from" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sendMessageResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSenderNames">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSenderNamesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactId" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="mobile" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="editContactResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:contactInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkBalance">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="checkBalanceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessageStatusesByReference">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
      <xsd:element minOccurs="0" name="reference" type="xsd:string" />
      <xsd:element minOccurs="0" name="username" type="xsd:string" />
      <xsd:element minOccurs="0" name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMessageStatusesByReferenceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:messageResponseInfo" />
    </xsd:sequence>
  </xsd:complexType>
</xs:schema>